.pet-card {
  cursor: pointer;
  border: 2px solid transparent;
}
.pet-card.selected {
  background-color: #8b0000;
  color: white;
}

.client-status.selected,
.client-status.selected:hover,
.client-status.selected:focus,
.client-status.selected:active,
.client-status.selected:focus:active{
  background-color: #8b0000 !important;
  color: white;
  border:none !important;
  outline:none !important;
}

.client-status.light,
.client-status.light:focus,
.client-status.light:active,
.client-status.light:focus:active{
  background-color: white;
  color: black;
  border:none !important;
  outline:none !important;
}

.react-datepicker__day--selected {
  background-color: #8b0000 !important;
  color: white !important;
}